---
import CommunicationModel from "./CommunicationModel.astro"
import StandModel from "./StandModel.astro"
const tools = [{
    title:"Bulk sms",
    contenu:"Des envois de sms à une base de données qualifiée en vue de promouvoir votre entreprise, marque ou produit",
    icone:"ri-discuss-fill",
},
{
    title:"SENIA plateau",
    contenu:"Bénéficier d'une interview de présentation ou de promotion de votre entreprise, sur un espace plateau SENIA spécialement mis en place sur le site du SENIA et diffuser sur les réseaux de nos médias partenaires.",
    icone:"ri-window-line",
},
{
    title:"Hôtesses dédiées",
    contenu:"Créer du trafic vers votre stand, distribuer vos flyers, enregistrer la liste des visiteurs, accueillir et renseigner vos visiteurs, telles sont les missions des hôtesses SENIA dédiées à votre service.",
    icone:"ri-user-fill"
},
{
    title:"SENIA Mag",
    contenu:"Profiter d’un récapitulatif détaillé du SENIA au travers du SENIA MAG pour vous souvenir des moments forts, des discours et performances et bénéficier d’une publicité prolongée de votre structure pour plus accroître votre visibilité.",
    icone:""
},
{
    title:"SENIA Télé",
    contenu:"Espace de promotion en live qui vous donne l’occasion de diffuser sur les écrans installés sur place , vos spots publicitaires et annonces diverses.",
    icone:"ri-tv-fill"
},
{
    title:"Panneau d'affichage urbain",
    contenu:"Positionner votre logo et bénéficier d’un impact visuel grâce aux panneaux d’affichage urbains installés dans les lieux stratégiques de la ville pour accroitre votre visibilité.",
    icone:"ri-window-line"
} ]
const infosStands = [{
    title:"ÊTRE EXPOSANT EN RÉSERVANT UN STAND À PARTIR DE 9M2 À PLUS.",
    contenu:"",
    button:"réserver votre stand",
    color:"border-fuchsia-600"
    
},
{
    title:"SPONSOR",
    contenu:"S’inscrire en qualité de Sponsor de l’événement en offrant un appui financier en échanges de contreparties diverses allant de l’accroissement de votre visibilité, au renforcement de la reconnaissance de votre marque et à l’accès à un public cible plus large.",
    button:"s'inscrire en tant que sponsor",
    color:"border-blue-800"
    
},
{
    title:"DÉLÉGUÉ",
    contenu:"S’inscrire en qualité de DÉLÉGUÉ c’est-à-dire « visiteur professionnel » en quête de réseautage, de découverte du marché béninois et de ses potentialités, de relations commerciales, de partenariats techniques, d’information et de formation.",
    button:"s'inscrire en tant que délégué",
    color:"border-fuchsia-600"
    
},
{
    title:"PARTENAIRE",
    contenu:"Si vous êtes intéressé par l’apport d’un soutien logistique, matériel ou la prise en charge d’une ligne de dépense du SENIA, nous serions ravis de vous accueillir en tant que Partenaire. N’hésitez pas à nous contacter pour convenir d’un rendez-vous, où nous pourrons discuter plus en détail de la manière dont nous pourrions collaborer ensemble et personnaliser notre partenariat selon vos préférences et objectifs.",
    button:" partenariat",
    color:"border-blue-800"
    
},
{
    title:"AUTRE",
    contenu:"La participation aux diverses activités d’échanges (panels, ateliers et keynotes) est libre et gratuite pour l’auditoire, sous réserve d’inscription sur le lien d’inscription ci-dessous ou d’enregistrement à l’adresse senia.info@gouv.bj.",
    button:"S'inscrire",
    title2:"> AUDITOIRE",
    title3:"> SPEAKER / PANELISTE / CONFÉRENCIER/ ORATEUR",
    color:"border-fuchsia-600",
    contenu2: "Participer au SENIA en tant que speaker ou paneliste ou conférencier ou orateur requiert l’envoie de votre CV, du thème: déjà inclus dans le programme ou que vous souhaitez développer) et du type d’activité (conférence, atelier, keynote produit, etc.) par mail à l’adresse senia.info@gouv.bj.",


}]
---

<section class="w-full h-auto bg-slate-200 ">
    <div class="w-[80%] p-2 mx-auto bg-white flex flex-col" data-aos="zoom-in" data-aos-easing="linear"
data-aos-duration="800">
        <h2 class="text-sm p-2 rounded-l-full rounded-tr-full text-center uppercase inline-block mx-auto my-6 text-white font-[500] bg-gradient-to-r from-gradient3 from-0% via-gradient2 via-45% to-[#df0838] to-90% hover:bg-gradient-to-r hover:from-[#df0838] hover:from-0%  hover:via-gradient2 hover:via-45% hover:to-gradient3 hover:to-90% transition-all ease-in ">La communication du senia</h2>
        <p class="text-center">Des outils de communication innovants mis à votre disposition pour une visibilité de premier choix à cet évènement de promotion de l’entrepreneuriat numérique et de l’intelligence artificielle au Bénin.</p>
        <div class="flex  justify-center gap-5 flex-wrap m-3">
            {
                tools.map((tool)=>{
                    return (
                    <CommunicationModel title={tool.title} contenu={tool.contenu} icone={tool.icone}  />
                    )
                })
            }
          
          
        </div>
    </div>

    <div class="w-[80%] mx-auto bg-slate-200 my-3 ">
       <div class="w-full h-auto bg-white p-3 space-y-2 flex flex-col">
        <h2 class="text-sm p-2 rounded-l-full rounded-tr-full text-center uppercase inline-block mx-auto my-6 text-white font-[500] bg-gradient-to-r from-gradient3 from-0% via-gradient2 via-45% to-[#df0838] to-90% hover:bg-gradient-to-r hover:from-[#df0838] hover:from-0%  hover:via-gradient2 hover:via-45% hover:to-gradient3 hover:to-90% transition-all ease-in ">COMMENT PARTICIPER À CETTE TROISIÈME ÉDITION DU SENIA ?</h2>
        <p class="text-center text-sm font-bold">Plusieurs modalités de participation ont été étudiées et mises en place pour faciliter la participation de tous les acteurs au SENIA. Il s’agit de :</p>
       </div>
      
    </div>
    <div class="">
        <div class="w-full mx-auto flex flex-col items-center gap-3">
            {
                infosStands.map((info)=>{
                    return (
                        <StandModel title={info.title} title2={info.title2} title3={info.title3} button={info.button} contenu={info.contenu}  color={info.color} contenu2={info.contenu2} />
                    )
                })
            }
    
           </div>
    </div>
    
</section>